<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{file_name}}</title>
  <meta name="description" content="Stream high-quality videos and movies in 1080p. Experience seamless playback with multiple player options." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://developer-six-dusky.vercel.app/548/551/play.css" rel="stylesheet" />
</head>
      </div>
    </header>

      <!-- Main content -->
    <main class="flex-grow-1 container py-3">
      <div class="player-wrapper mb-3">
        <video id="myVideo" src="{{file_url}}" class="w-100" controls>
          Your browser does not support the video tag.
        </video>
        <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
      </div>
      
      <div class="row g-3 mb-2">
        <div class="col-md-6">
          <a onclick="streamDownload()" class="btn btn-success w-100" style="border: none; background-color: {{ jisshu_colours.download.background }}; color: {{ jisshu_colours.download.color }};">
            <i class="fa-solid fa-download me-2"></i> Download
          </a
      </div>
  </div>
  </main>
  </script>
</body>

</html>
